.price
  width: 100%
  border: 1px solid #d3d3d3
  border-radius: 10px
  padding: 1rem 1.5rem
  display: flex
  justify-content: space-between

  &__info
    > span
      color: #1ba21b
      font-weight: 700
      font-size: 26px

  &__btn
    display: flex